.register {
    height: 100%;
    display: flex;
  
    .formContainer {
      flex: 3;
      align-items: center;
      justify-content: center;
      height: 100%;
      display: flex;
      
  
      form {
        display: flex;
        flex-direction: column;
        gap: 25px;
  
        button {
          padding: 20px;
          border-radius: 7px;
          border: none;
          background-color: #0056B3;
          color: white;
          font-weight: bold;
          cursor: pointer;
  
          &:disabled {
            background-color: #bed9d8;
          }
        }
        input {
            padding: 20px;
            border: 2px solid gray;
            border-radius: 7px;
          }
  
        span {
          color: rgba(255, 0, 0, 0.591);
        }
  
        a {
          font-size: 14px;
          color: gray;
          border-bottom: 1px solid gray;
          width: max-content;
        }
      }
    }
  
    .imgContainer {
      flex: 2;
      background-color: #E3F2FD;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
        width: 115%;
        position: absolute;
        right: 0;
      }
    }
  }