.listPage{
    display: flex;
    height: 100%;

    .listContainer{
        flex: 3;

        .wrapper{
            padding-right: 60px;
            display: flex;
            flex-direction: column;
            gap: 60px;
            overflow-y: scroll;
        }
    }
    .mapContainer{
        flex: 1;
        background-color: #E3F2FD;
    }

}