@import "src/responsive.scss";

.homepage{
    display: flex;
    height: 100%;

    .txtContainer{ 
        flex: 3;

        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            height: 100%;
    
            @include lg{
                padding-right: 50px;
            }
        
            @include md{
                padding: 0;
            }
    
            @include sm{
                justify-content: flex-start;
            }
    
            .topic{
                font-size: 64px;
    
                @include lg {
                    font-size: 48px;
                }
            }

            .desc{
                font-family: cursive;
            }
        }
        

    }
    
    .imgContainer{
        flex: 2;
        background-color: #E3F2FD;
        position: relative;
        display: flex;
        align-items: center;

        @include md {
            display: none;
        }
        
        img{
            width: 115%;
            position: absolute;
            right: 0;

            @include lg {
                width: 105%;
            }
        }
    }
  
}